<p>
  This is store <b>{{store?.name}}</b> located  on <b>{{store?.address}} </b> in the city of <b>{{store?.city}}</b>.
  <br>
  The <b>{{store?.name}}</b> store is owned by merchant <b>{{store?.merchantCode}} </b>.
  <br>
  In this store you can find <b>{{store?.description}}.</b> 
  <br>
  For further information feel free to contact them on their email: <b>{{store?.email}}</b>!
  <mat-card-actions align="end">
    <button mat-button mat-dialog-close>CLOSE</button>
  </mat-card-actions>
</p>
