.merchants-table{
    width:100%;
}
.floating-right{
    margin-top:32px;
    float: right;
}

.icon-position{
    position:absolute;
    right:0;
}
#place-div{
    margin-top:30%;
    display: flex;
    flex-direction: row-reverse;  
}
.material-icon-custom2{
    background-color: #FF9800;
    color:#FAFAFA;
}
.filter-position{
    margin-right:2%;
}





